<mat-card class="login-card" fxLayout="column" fxLayoutAlign="space-between stretch" >
<h2 class="login-header">Login</h2>
  <div class="input-form">
   <label>Email</label>
   <input placeholder="abc@xyz.com">
</div>
<br>
<div class="input-form">
  <label>Password</label>
  <input type="password" placeholder="********">
</div>
<br>
<button mat-raised-button color="primary" class="cls-btn login-btn" routerLink="/" (click)="login()">Login</button>
<br>
<br>
<button mat-raised-button color="primary" class="cls-btn signup-btn" routerLink="/" (click)="signup()">Sign Up</button>
<br>
<br>
<div class="login-sub-links">
  <span><a href="">forgot password?</a></span>
  <span><input type="checkbox" class="remember"> remember me</span>
</div>
</mat-card>
